---
import TiltCard from '@/components/TiltCard.astro'
import Layout from '../layouts/Layout.astro'
import { Icon } from 'astro-icon'

const DATE_BIRTHDAY = '1989-12-27'
const DATE_PROFESSIONAL = '2011-03-01'

const years = (date: string) => {
  const _date = new Date(date)
  const today = new Date()

  let years = new Date().getFullYear() - _date.getFullYear()

  if (
    today.getMonth() < _date.getMonth() ||
    (today.getMonth() == _date.getMonth() && today.getDate() < _date.getDate())
  ) {
    years--
  }

  return years
}
---

<Layout title='Nuno Góis - Full-Stack Developer'>
  <TiltCard>
    <div class='bg-bg p-4 rounded-md z-10'>
      <div class='max-w-xs'>
        <img
          src='/avatar.webp'
          alt='avatar'
          class='w-full h-auto rounded-md object-cover select-none pointer-events-none'
        />
        <div class='flex flex-col mt-2'>
          <div class='flex flex-col sm:flex-row items-center justify-between'>
            <h1 class='text-2xl'>Nuno Góis</h1>
            <div class='flex gap-1 my-2'>
              <a href='https://github.com/nunogois' target='_blank'
                ><Icon name='mdi:github' class='w-6 h-6' /></a
              >
              <a href='https://twitter.com/nunogois_dev' target='_blank'
                ><Icon name='mdi:twitter' class='text-icon-tw w-6 h-6' /></a
              >
              <a href='https://www.linkedin.com/in/nuno-gois' target='_blank'
                ><Icon name='mdi:linkedin' class='text-icon-ln w-6 h-6' /></a
              >
              <a
                href='https://www.nunogois.com/cv'
                target='_blank'
                class='font-bold select-none'>CV</a
              >
              <a href='mailto:me@nunogois.com' target='_blank'
                ><Icon name='mdi:email' class='text-icon-mail w-6 h-6' /></a
              >
              <a href='https://www.nunogois.com' target='_blank'
                ><Icon name='mdi:web-box' class='text-icon-web w-6 h-6' /></a
              >
            </div>
          </div>
          <h2 class='text-lg mt-1'>Full-Stack Developer</h2>
          <p class='text-sm mt-1'>
            Driven {years(DATE_BIRTHDAY)} year old from Portugal with over {
              years(DATE_PROFESSIONAL)
            } years of professional experience. Passionate for the job, love putting
            skills to the test, facing challenges in a creative and perfectionist
            way.
          </p>
        </div>
      </div>
    </div>
  </TiltCard>
</Layout>
