<div id='tilt-card' class='border-rgb rounded-md m-4'><slot /></div>

<script>
  import VanillaTilt from 'vanilla-tilt'

  const tiltCard = document.querySelector('#tilt-card') as HTMLElement

  VanillaTilt.init(tiltCard, {
    max: 15,
    speed: 200,
    glare: true,
    'full-page-listening': true,
    'max-glare': 0.2
  })
</script>

<style>
  .border-rgb::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    border-radius: 6px;
    background: linear-gradient(to right, #5cd68f, #d65c5e);
    animation: hue 10s infinite linear;
  }
  @keyframes hue {
    from {
      filter: hue-rotate(-360deg);
    }
    to {
      filter: hue-rotate(0deg);
    }
  }
</style>
